#timer {
    display: block;
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#clues {
    text-align: center;
    max-width: 40%;
    margin: auto;
}

#clues p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clues p.hidden {
    display: none;
}

#add-clue, #to-play {
    display: inline-block;
    margin-top: 10px;
}

#save-question{
    margin-top:10px;
    margin-bottom: 10px;
}

#clue-separator{
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 1rem 0;
}

#timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    margin-top: 20px;
}

#timer-container h3 {
    margin: 0;
    text-align: center;
}

#answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mod_cluequiz_answer_form {
    max-width: 600px;
    width: 100%;
}

#question-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#question-text h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#question-text p {
    display: block;
    font-size: 1.1em;
}
#question-text strong {
    color: red;
}
#answer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#answer-text h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#answer-text p {
    font-size: 1.1em;
    display: block;
}
#answer-text strong {
    color: red;
}

@media only screen and (max-width: 768px) {
    #clues {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
}


